<!DOCTYPE html>
<html>
<head>
    <title>Gift Exchange</title>
</head>

<body>
    <div style="text-align: center">
        <br>
        <br>
        <form action="result" method="post" class="reveal_content">
            <p>Enter names here, separated by a space</p>
            <p>Example: Jack John Bob Adam  </p>
            <br>
            <br>
            <input name="names" type="text" id="question">
            <br>
            <br>
            <button type="submit" value="submit">Submit</button>
            <br>
            <br>
        </form>
    </div>   
</body>

</html>